@font-face {
  font-family: Noto Sans;
  src: url('/fonts/NotoSans-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: Noto Sans Display;
  src: url('/fonts/NotoSansDisplay-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: Noto Sans JP;
  src: url('/fonts/NotoSansJP-VariableFont_wght.ttf');
}

@font-face {
  font-family: Noto Serif;
  src: url('/fonts/NotoSerif-VariableFont_wdth,wght.ttf');
}

@font-face {
  font-family: Noto Serif Display;
  src: url('/fonts/NotoSerifDisplay-VariableFont_wdth,wght.ttf');
}
