.heading {
  text-align: center;
  margin: 0;
  margin-top: 2rem;
  font-style: italic;
  font-weight: 600;
}

.spinner {
  width: 5rem;
  height: 5rem;
  animation: 1s linear infinite spin;
  color: var(--primary);
}

.iframe {
  border: 2px solid var(--primary);
  max-width: 100%;
  min-width: 100%;
  display: none;

  &.loaded {
    display: inline;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
